# Visual Studio Code local settings
.vscode/

# Compiled C++ Executables (Windows, Mac, Linux)
*.exe
*.out
*.app

# Compiled Object Files
*.o
*.obj

# Any temporary crash logs
*.log

# Visual Studio 2026 Temporary and Build Files
.vs/
Debug/
Release/
x64/
x86/
*.user
*.suo
*.db
*.log